{% extends 'base.html' %}
{% block title %}Edit Profile{% endblock %}
{% block content %}
  <div class="profile-container">
    <h2>Edit Profile</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ profile_form.as_p }}
      <button type="submit" class="button" name="update_profile">Update Profile</button>
    </form>

    <hr>

    <h2>Change Password</h2>
    <form method="post">
      {% csrf_token %}
      {{ password_form.as_p }}
      <button type="submit" class="button" name="change_password">Change Password</button>
    </form>
    <form action="{% url 'delete_account' %}" method="post">
      {% csrf_token %}
      <button type="submit" class="danger button" onclick="return confirm('This will delete your account and all data. Proceed?')">
          Delete My Account
      </button>
    </form>
  </div>
  
{% endblock %}