<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Guitar Tracker{% endblock %}</title>
</head>
<body>
    <header>
        {% if messages %}
            <ul class="messages">
              {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
              {% endfor %}
            </ul>
        {% endif %}

        <h1><a href="{% url 'home' %}">Guitar Practice Tracker</h1>

        <nav>
            <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'profile' %}">{{ user.username }}'s Profile</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
            </ul>
        </nav>

    </header>
    
    <hr>
    
    {% block content %}{% endblock %}
</body>
</html>